{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "importOrder": [
    "^react",
    "^next",
    "^@emotion/(.*)$",
    "^@enums/(.*)$",
    "^@constants/(.*)$",
    "^@components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
