{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "importOrder": [
    ".s?css$",
    ".styled$",
    "^react",
    "^next",
    "^@enums/(.*)$",
    "^types/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
